<!DOCTYPE html>

	<html lang = "en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js">
            <link rel="stylesheet" href="{{ url_for('static', filename ='styles/style.css') }}">

			<title>Playlist Database</title>

            <style>
                .dataTables_info,
                .dataTables_filter,
                .dataTables_info,
                .dataTables_length{
                color: white;
                }

                form, label{
                    color: white !important;
                }
            </style>

            <link rel="apple-touch-icon" sizes="180x180"    href="{{ url_for('static', filename ='images/apple-touch-icon.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename ='images/favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename ='images/favicon-16x16.png') }}">
            <link rel="manifest" href="{{ url_for('static', filename ='images/site.webmanifest') }}">

		</head>

		<body>

		<nav class="navbar navbar navbar-dark bg-dark">
			<button id="navbar_main_toggler" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar_main_collapse" aria-controls="navbar_main_collapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" tabindex = "-1"><span>Playlist Database</span></a>

			<div tabindex="-1"></div>

			<div id="navbar_main_collapse" class="collapse navbar-collapse">
				<div class="format-container navbar-nav mr-auto">
					<select id="select_format">
						<option disabled>Placeholder</option>
					</select>
				</div>
			</div>
		</nav>

		<section id="tabs-container" class="tabs">

			<section id="tabgroup_main_container" class="tabgroup">
				<div class="nav nav-pills justify-content-center">
					<div class="btn-group d-flex" role="group">
                        <a class="btn btn-info w-20" href = "#home"     id = "main_home"     > Home </a>
                        <a class="btn btn-info w-20" href = "#playlist" id = "main_playlist" > Playlist </a>
                        <a class="btn btn-info w-20" href = "#songs"    id = "main_songs"    > Songs </a>
						<a class="btn btn-info w-20" href = "#settings" id = "main_settings" > Settings </a>
						<a class="btn btn-info w-20" href = "/"   id = "main_logout"   > Log out </a>
					</div>
				</div>
			</section>
		</section>

			<!--home page code-->
			<div class="page" id="home" >
				<div class = "homewelcome">
					<div class = "welcome">
						<h1>{{message}}</h1>
					</div>

				</div>

				<div class = "homepic">
					<div class = "intro image">
						<img src="../static/images/pld.png" width = 30% height = 30% title="Test"></img>
					</div>
				</div>

				<div class = "homegenres">
                    <div class="container mb-3 mt-3">
                        <table class="table table-striped" width="100%">
                            <thead>
                                <tr style = "background-color: gray">
                                    <th>Genres</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for genre in genres %}
                                <tr style = "background-color: white">
                                    <td>{{ genre[0] }}</td> <!--genre-->
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
				</div>

				<div class="homeplaylists">
                    <div class="container mb-3 mt-3">
                        <table class="table table-striped" width="100%">
                            <thead>
                                <tr style = "background-color: gray">
                                    <th>Playlist</th>
                                    <th>Genre</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for playlist in playlists %}
                                <tr style = "background-color: white">
                                    <td>{{ playlist[0] }}</td> <!--playlist number-->
                                    <td>{{ playlist[1] }}</td> <!--genre-->
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
				</div>
			</div>

			<!--playlist page code-->
			<div class="page" id="playlist">

				<div role="group">
					<a class="btn btn-outline-primary" href = "#createplaylist" id = "main_create" style="float:right; margin-right: 10%">Create Playlist</a>
				</div>

				<br><br>

				<h2>Your playlists</h2>
                    <div class="container mb-3 mt-3">
                        <table class="table table-striped table-bordered pDataTable" width="100%">
                            <thead>
                                <tr style = "background-color: gray">
                                    <th>Playlist</th>
                                    <th>Genre</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for playlist in playlists %}
                                <tr style = "background-color: white">
                                    <td>{{ playlist[0] }}</td> <!--playlist number-->
                                    <td>{{ playlist[1] }}</td> <!--genre-->
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
			</div>

			<div class="page" id="createplaylist">
                <br>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input id=plPublic type="radio" class="form-check-input" name="optradio">Public
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input id=plPrivate type="radio" class="form-check-input" name="optradio">Private
                  </label>
                </div>

				<!--<form>
					<input type ="submit" value="Share" style="float:right; margin-right:10%">
					<input id = plPassword type ="text" id = "password" placeholder = "password" disabled style="float:right; margin-right:1%">
				</form>-->

            <form class = "form-inline">
              <div class="form-group ml-3 pr-3">
                <label>Name your playlist: </label>
                <input type="plName" class="form-control" id="name" aria-describedby="emailHelp" placeholder="My Pop Playlist">
              </div>
              <div class="form-group form-inline pr-3">
                <label>Password: </label>
                <input id = plPassword type ="text" class="form-control" placeholder="Password">
              </div>
                <div class ="text-right">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>

				<br>
                    <div class="container mb-3 mt-3">
                        <table class="table table-striped table-bordered pDataTable" width="100%">
                            <thead>
                                <tr style = "background-color: cyan">
                                    <th>Title</th>
                                    <th>Artist</th>
                                    <th>Duration</th>
                                    <th>Genre</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in songList %}
                                    <tr style="background-color: lightcyan">
                                        <td>{{ song[1] }}</td>
                                        <td>{{ song[3] }}</td>
                                        <td>{{ song[2] }}</td>
                                        <td>{{ song[4] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        <tfoot>

                        </tfoot>
				        </table>
                    </div>
				
				<br>
                    <div class="container mb-3 mt-3">
                        <table class="table table-striped table-bordered pDataTable" width="100%">
                            <thead>
                                <tr style="background-color: gray">
                                    <th>Title</th>
                                    <th>Artist</th>
                                    <th>Duration</th>
                                    <th>Genre</th>
                                    <th>Add?</th>
                                </tr>
                            </thead>
                                <tbody>
                                    {% for song in songList %}
                                        <tr style="background-color: white">
                                            <td>{{ song[1] }}</td>
                                            <td>{{ song[3] }}</td>
                                            <td>{{ song[2] }}</td>
                                            <td>{{ song[4] }}</td>
                                            <td><button class = "btn btn-secondary" type="button">+</button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
			</div>

			<!--song page code-->
			<div class="page" id="songs">

                <div class="container mb-3 mt-3">
                    <table class="table table-striped table-bordered pDataTable" width="100%">
                        <thead>
                            <tr style = "background-color: lightsalmon">
                                <th>Title</th>
                                <th>Artist</th>
                                <th>Duration</th>
                                <th>Genre</th>
                                <th>Net Rating</th>
                                <th>Your Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for song in songList %}
                            <tr style = "background-color: white">
                                <td>{{ song[1] }}</td>
                                <td>{{ song[3] }}</td>
                                <td>{{ song[2] }}</td>
                                <td>{{ song[4] }}</td>
                                <td> net rating  </td> <!-- wherever this is stored, placeholder for now-->
                                <td>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class = "btn btn-outline-success">
                                            <input type="radio" name="userRating" id = "ratingUp" autocomplete="off">↑
                                        </label>
                                        <label class = "btn btn-outline-dark active">
                                            <input type="radio" name="userRating" id = "ratingNull" autocomplete="off" checked>·
                                        </label>
                                        <label class = "btn btn-outline-danger">
                                            <input type="radio" name="userRating" id = "ratingNull" autocomplete="off">↓
                                        </label>
                                     </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    <tfoot>

                    </tfoot>
                </table>
                </div>


			</div>

			<!--settings page code-->
			<div class="page" id="settings">
				<div class ="faq-p">
					<h2>Temp</h2>
                        <form action="http://localhost:5000/genreButton" method="POST">
                            <p><input type="text" name="genre" /></p>
                            <p><input type="submit" name="genreButton" value="Add/Remove Genre" /></p>
                        </form>
                        <form action="http://localhost:5000/deleteUser" method="POST">
                             <p><input type="submit" name="delete" value="Delete Account" /></p>
                        </form>
				</div>
			</div>

			<!--logout page code-->

			<br><br>

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
            <script>
                $('.pDataTable').DataTable();

                $(function(){
                   $('#plPublic').on('click', function(){
                      $('#plPassword').prop('disabled', true);
                   });

                   $('#plPrivate').on('click', function(){
                      $('#plPassword').prop('disabled', false);
                   });
                });
            </script>

			</body>

	</html>