<!doctype html>
<html lang="en">
    <head>
        <title>Playlist Database</title>
        <link rel="stylesheet" href="{{ url_for('static', filename ='styles/main.css') }}">
    </head>
    <body>
        <header>
            <h1>Playlist Database</h1>
        </header>
        <h2>{{message}}</h2>
        <form action="http://localhost:5000/main" method="Post">
            <p><input type = "text" name = "genre" /></p>
            <p><input type="submit" name="genreButton" value="Add/Remove Genre" /></p>
        </form>
        <table class="center">
            <tr>
                <th>Genres</th>
            </tr>
            {% for genre in genres %}
                <tr>
                    <td>{{ genre[0] }}</td>
                </tr>
            {% endfor %}
        </table>

        <form action="http://localhost:5000/" method="POST">
            <p><input type="submit" name="logout" value="Logout" /></p>
            <p><input type="submit" name="delete" value="Delete" /></p>
        </form>
    </body>
</html>