<table class="table table-bordered table-hover table-condensed">
<thead><tr style="background-color:white"><th title="Field #1">year</th>
<th title="Field #2">Artist</th>
<th title="Field #3">track</th>
<th title="Field #4">time</th>
<th title="Field #5">Genre</th>
<th title="Field #6">released.date</th>
<th title="Field #7">Song.id</th>
</tr></thead>
<tbody style = "background-color: gray"><tr>
<td>2000</td>
<td>Destiny&#39;s Child</td>
<td>Independent Women Part I</td>
<td>3:38</td>
<td>Rock</td>
<td>2000/9/23</td>
<td>114771</td>
</tr>
<tr>
<td>2000</td>
<td>Santana</td>
<td>Maria, Maria</td>
<td>4:18</td>
<td>Rock</td>
<td>2000/2/12</td>
<td>459325</td>
</tr>
<tr>
<td>2000</td>
<td>Savage Garden</td>
<td>I Knew I Loved You</td>
<td>4:07</td>
<td>Rock</td>
<td>1999/10/23</td>
<td>437989</td>
</tr>
<tr>
<td>2000</td>
<td>Madonna</td>
<td>Music</td>
<td>3:45</td>
<td>Rock</td>
<td>2000/8/12</td>
<td>183278</td>
</tr>
<tr>
<td>2000</td>
<td>Aguilera, Christina</td>
<td>Come On Over Baby (All I Want Is You)</td>
<td>3:38</td>
<td>Rock</td>
<td>2000/8/5</td>
<td>299169</td>
</tr>
<tr>
<td>2000</td>
<td>Janet</td>
<td>Doesn&#39;t Really Matter</td>
<td>4:17</td>
<td>Rock</td>
<td>2000/6/17</td>
<td>157921</td>
</tr>
<tr>
<td>2000</td>
<td>Destiny&#39;s Child</td>
<td>Say My Name</td>
<td>4:31</td>
<td>Rock</td>
<td>1999/12/25</td>
<td>275671</td>
</tr>
<tr>
<td>2000</td>
<td>Iglesias, Enrique</td>
<td>Be With You</td>
<td>3:36</td>
<td>Latin</td>
<td>2000/4/1</td>
<td>109224</td>
</tr>
<tr>
<td>2000</td>
<td>Sisqo</td>
<td>Incomplete</td>
<td>3:52</td>
<td>Rock</td>
<td>2000/6/24</td>
<td>278523</td>
</tr>
<tr>
<td>2000</td>
<td>Lonestar</td>
<td>Amazed</td>
<td>4:25</td>
<td>Country</td>
<td>1999/6/5</td>
<td>116305</td>
</tr>
<tr>
<td>2000</td>
<td>N&#39;Sync</td>
<td>It&#39;s Gonna Be Me</td>
<td>3:10</td>
<td>Rock</td>
<td>2000/5/6</td>
<td>327411</td>
</tr>
<tr>
<td>2000</td>
<td>Aguilera, Christina</td>
<td>What A Girl Wants</td>
<td>3:18</td>
<td>Rock</td>
<td>1999/11/27</td>
<td>486940</td>
</tr>
<tr>
<td>2000</td>
<td>Vertical Horizon</td>
<td>Everything You Want</td>
<td>4:01</td>
<td>Rock</td>
<td>2000/1/22</td>
<td>416024</td>
</tr>
<tr>
<td>2000</td>
<td>Creed</td>
<td>With Arms Wide Open</td>
<td>3:52</td>
<td>Rock</td>
<td>2000/5/13</td>
<td>185065</td>
</tr>
<tr>
<td>2000</td>
<td>Aaliyah</td>
<td>Try Again</td>
<td>4:03</td>
<td>Rock</td>
<td>2000/3/18</td>
<td>277010</td>
</tr>
<tr>
<td>2000</td>
<td>matchbox twenty</td>
<td>Bent</td>
<td>4:12</td>
<td>Rock</td>
<td>2000/4/29</td>
<td>449761</td>
</tr>
<tr>
<td>2000</td>
<td>Carey, Mariah</td>
<td>Thank God I Found You</td>
<td>4:14</td>
<td>Rock</td>
<td>1999/12/11</td>
<td>117875</td>
</tr>
<tr>
<td>2000</td>
<td>Hill, Faith</td>
<td>Breathe</td>
<td>4:04</td>
<td>Rap</td>
<td>1999/11/6</td>
<td>292820</td>
</tr>
<tr>
<td>2000</td>
<td>Mya</td>
<td>Case Of The Ex (Whatcha Gonna Do)</td>
<td>3:50</td>
<td>Rock</td>
<td>2000/8/19</td>
<td>273147</td>
</tr>
<tr>
<td>2000</td>
<td>Dream</td>
<td>He Loves U Not</td>
<td>3:43</td>
<td>Rock</td>
<td>2000/9/30</td>
<td>439977</td>
</tr>
<tr>
<td>2000</td>
<td>Braxton, Toni</td>
<td>He Wasn&#39;t Man Enough</td>
<td>4:21</td>
<td>Rock</td>
<td>2000/3/18</td>
<td>160427</td>
</tr>
<tr>
<td>2000</td>
<td>Anthony, Marc</td>
<td>You Sang To Me</td>
<td>3:50</td>
<td>Latin</td>
<td>2000/2/26</td>
<td>211019</td>
</tr>
<tr>
<td>2000</td>
<td>98?</td>
<td>Give Me Just One Night (Una Noche)</td>
<td>3:24</td>
<td>Rock</td>
<td>2000/8/19</td>
<td>188446</td>
</tr>
<tr>
<td>2000</td>
<td>Destiny&#39;s Child</td>
<td>Jumpin&#39; Jumpin&#39;</td>
<td>3:48</td>
<td>Rock</td>
<td>2000/5/13</td>
<td>411509</td>
</tr>
<tr>
<td>2000</td>
<td>3 Doors Down</td>
<td>Kryptonite</td>
<td>3:53</td>
<td>Rock</td>
<td>2000/4/8</td>
<td>363933</td>
</tr>
<tr>
<td>2000</td>
<td>Sisqo</td>
<td>Thong Song</td>
<td>4:05</td>
<td>Rock</td>
<td>2000/1/29</td>
<td>202289</td>
</tr>
<tr>
<td>2000</td>
<td>Aguilera, Christina</td>
<td>I Turn To You</td>
<td>4:00</td>
<td>Rock</td>
<td>2000/4/15</td>
<td>252354</td>
</tr>
<tr>
<td>2000</td>
<td>Houston, Whitney</td>
<td>My Love Is Your Love</td>
<td>4:16</td>
<td>Rock</td>
<td>1999/9/4</td>
<td>484422</td>
</tr>
<tr>
<td>2000</td>
<td>Joe</td>
<td>I Wanna Know</td>
<td>4:57</td>
<td>Rock</td>
<td>2000/1/1</td>
<td>459793</td>
</tr>
<tr>
<td>2000</td>
<td>Jordan, Montell</td>
<td>Get It On.. Tonite</td>
<td>4:34</td>
<td>Rap</td>
<td>1999/10/23</td>
<td>336008</td>
</tr>
<tr>
<td>2000</td>
<td>N&#39;Sync</td>
<td>Bye Bye Bye</td>
<td>3:15</td>
<td>Rock</td>
<td>2000/1/29</td>
<td>283014</td>
</tr>
<tr>
<td>2000</td>
<td>Eminem</td>
<td>The Real Slim Shady</td>
<td>4:42</td>
<td>Rap</td>
<td>2000/5/6</td>
<td>133190</td>
</tr>
<tr>
<td>2000</td>
<td>Pink</td>
<td>Most Girls</td>
<td>4:06</td>
<td>Rock</td>
<td>2000/8/12</td>
<td>237951</td>
</tr>
<tr>
<td>2000</td>
<td>Mumba, Samantha</td>
<td>Gotta Tell You</td>
<td>3:19</td>
<td>Rock</td>
<td>2000/9/9</td>
<td>130708</td>
</tr>
<tr>
<td>2000</td>
<td>Blaque</td>
<td>Bring It All To Me</td>
<td>3:46</td>
<td>Pop</td>
<td>1999/10/23</td>
<td>252726</td>
</tr>
<tr>
<td>2000</td>
<td>Elliott, Missy &quot;Misdemeanor&quot;</td>
<td>Hot Boyz</td>
<td>3:51</td>
<td>Rap</td>
<td>1999/11/27</td>
<td>382860</td>
</tr>
<tr>
<td>2000</td>
<td>Gray, Macy</td>
<td>I Try</td>
<td>3:52</td>
<td>Rock</td>
<td>2000/2/19</td>
<td>436662</td>
</tr>
<tr>
<td>2000</td>
<td>N&#39;Sync</td>
<td>This I Promise You</td>
<td>4:23</td>
<td>Rock</td>
<td>2000/9/30</td>
<td>370152</td>
</tr>
<tr>
<td>2000</td>
<td>Ruff Endz</td>
<td>No More</td>
<td>3:56</td>
<td>Rock</td>
<td>2000/7/1</td>
<td>341601</td>
</tr>
<tr>
<td>2000</td>
<td>Backstreet Boys, The</td>
<td>Show Me The Meaning Of Being Lonely</td>
<td>3:54</td>
<td>Rock</td>
<td>2000/1/1</td>
<td>331626</td>
</tr>
<tr>
<td>2000</td>
<td>Nine Days</td>
<td>Absolutely (Story Of A Girl)</td>
<td>3:09</td>
<td>Rock</td>
<td>2000/5/6</td>
<td>249323</td>
</tr>
<tr>
<td>2000</td>
<td>Dion, Celine</td>
<td>That&#39;s The Way It Is</td>
<td>4:03</td>
<td>Rock</td>
<td>1999/11/13</td>
<td>177366</td>
</tr>
<tr>
<td>2000</td>
<td>Blink-182</td>
<td>All The Small Things</td>
<td>2:52</td>
<td>Rock</td>
<td>1999/12/4</td>
<td>297963</td>
</tr>
<tr>
<td>2000</td>
<td>Eiffel 65</td>
<td>Blue (Da Ba Dee)</td>
<td>3:29</td>
<td>Electronica</td>
<td>1999/12/11</td>
<td>347705</td>
</tr>
<tr>
<td>2000</td>
<td>Badu, Erkyah</td>
<td>Bag Lady</td>
<td>5:03</td>
<td>Rock</td>
<td>2000/8/19</td>
<td>408212</td>
</tr>
<tr>
<td>2000</td>
<td>Pink</td>
<td>There U Go</td>
<td>3:23</td>
<td>Rock</td>
<td>2000/3/4</td>
<td>278992</td>
</tr>
<tr>
<td>2000</td>
<td>Creed</td>
<td>Higher</td>
<td>5:16</td>
<td>Rock</td>
<td>1999/9/11</td>
<td>371088</td>
</tr>
<tr>
<td>2000</td>
<td>Nelly</td>
<td>(Hot S**t) Country Grammar</td>
<td>4:17</td>
<td>Rap</td>
<td>2000/4/29</td>
<td>380318</td>
</tr>
<tr>
<td>2000</td>
<td>Next</td>
<td>Wifey</td>
<td>4:03</td>
<td>Rock</td>
<td>2000/5/27</td>
<td>485695</td>
</tr>
<tr>
<td>2000</td>
<td>Kenny G</td>
<td>Auld Lang Syne (The Millenium Mix)</td>
<td>7:50</td>
<td>Jazz</td>
<td>1999/12/25</td>
<td>195760</td>
</tr>
<tr>
<td>2000</td>
<td>Sonique</td>
<td>It Feels So Good</td>
<td>3:48</td>
<td>Rock</td>
<td>2000/1/22</td>
<td>122793</td>
</tr>
<tr>
<td>2000</td>
<td>Spears, Britney</td>
<td>Oops!.. I Did It Again</td>
<td>3:30</td>
<td>Rock</td>
<td>2000/4/22</td>
<td>230598</td>
</tr>
<tr>
<td>2000</td>
<td>Backstreet Boys, The</td>
<td>Shape Of My Heart</td>
<td>3:49</td>
<td>Rock</td>
<td>2000/10/14</td>
<td>177323</td>
</tr>
<tr>
<td>2000</td>
<td>Everclear</td>
<td>Wonderful</td>
<td>4:30</td>
<td>Rock</td>
<td>2000/7/8</td>
<td>425415</td>
</tr>
<tr>
<td>2000</td>
<td>Ja Rule</td>
<td>Between Me And You</td>
<td>4:05</td>
<td>Rap</td>
<td>2000/9/16</td>
<td>172741</td>
</tr>
<tr>
<td>2000</td>
<td>Rimes, LeAnn</td>
<td>I Need You</td>
<td>3:42</td>
<td>Country</td>
<td>2000/5/27</td>
<td>322561</td>
</tr>
<tr>
<td>2000</td>
<td>Smash Mouth</td>
<td>Then The Morning Comes</td>
<td>3:04</td>
<td>Rock</td>
<td>1999/10/30</td>
<td>370938</td>
</tr>
<tr>
<td>2000</td>
<td>Jay-Z</td>
<td>I Just Wanna Love U (Give It 2 Me)</td>
<td>3:50</td>
<td>Rap</td>
<td>2000/10/28</td>
<td>375490</td>
</tr>
<tr>
<td>2000</td>
<td>Jagged Edge</td>
<td>Let&#39;s Get Married</td>
<td>4:23</td>
<td>Rock</td>
<td>2000/5/6</td>
<td>423843</td>
</tr>
<tr>
<td>2000</td>
<td>Filter</td>
<td>Take A Picture</td>
<td>4:23</td>
<td>Rock</td>
<td>1999/11/27</td>
<td>149190</td>
</tr>
<tr>
<td>2000</td>
<td>Martin, Ricky</td>
<td>She Bangs</td>
<td>4:02</td>
<td>Latin</td>
<td>2000/10/7</td>
<td>150177</td>
</tr>
<tr>
<td>2000</td>
<td>Mystikal</td>
<td>Shake Ya Ass</td>
<td>4:46</td>
<td>Rap</td>
<td>2000/8/12</td>
<td>336252</td>
</tr>
<tr>
<td>2000</td>
<td>BBMak</td>
<td>Back Here</td>
<td>3:35</td>
<td>Rock</td>
<td>2000/4/29</td>
<td>331547</td>
</tr>
<tr>
<td>2000</td>
<td>Spears, Britney</td>
<td>From The Bottom Of My Broken Heart</td>
<td>4:30</td>
<td>Rock</td>
<td>2000/1/29</td>
<td>387387</td>
</tr>
<tr>
<td>2000</td>
<td>Third Eye Blind</td>
<td>Never Let You Go</td>
<td>3:57</td>
<td>Rock</td>
<td>2000/1/22</td>
<td>267169</td>
</tr>
<tr>
<td>2000</td>
<td>Red Hot Chili Peppers</td>
<td>Otherside</td>
<td>4:13</td>
<td>Rock</td>
<td>2000/2/12</td>
<td>188973</td>
</tr>
<tr>
<td>2000</td>
<td>Profyle</td>
<td>Liar</td>
<td>3:57</td>
<td>R&amp;B</td>
<td>2000/9/16</td>
<td>302524</td>
</tr>
<tr>
<td>2000</td>
<td>Barenaked Ladies</td>
<td>Pinch Me</td>
<td>3:46</td>
<td>Rock</td>
<td>2000/9/9</td>
<td>254468</td>
</tr>
<tr>
<td>2000</td>
<td>Jagged Edge</td>
<td>He Can&#39;t Love U</td>
<td>3:30</td>
<td>Rock</td>
<td>1999/12/11</td>
<td>250506</td>
</tr>
<tr>
<td>2000</td>
<td>504 Boyz</td>
<td>Wobble Wobble</td>
<td>3:35</td>
<td>Rap</td>
<td>2000/4/15</td>
<td>267289</td>
</tr>
<tr>
<td>2000</td>
<td>Sting</td>
<td>Desert Rose</td>
<td>3:52</td>
<td>Rock</td>
<td>2000/5/13</td>
<td>365874</td>
</tr>
<tr>
<td>2000</td>
<td>Jay-Z</td>
<td>Big Pimpin&#39;</td>
<td>3:55</td>
<td>Rap</td>
<td>2000/4/22</td>
<td>217251</td>
</tr>
<tr>
<td>2000</td>
<td>Kid Rock</td>
<td>Only God Knows Why</td>
<td>5:27</td>
<td>Rock</td>
<td>2000/2/19</td>
<td>441778</td>
</tr>
<tr>
<td>2000</td>
<td>Foo Fighters</td>
<td>Learn To Fly</td>
<td>3:55</td>
<td>Rock</td>
<td>1999/10/16</td>
<td>296204</td>
</tr>
<tr>
<td>2000</td>
<td>Dixie Chicks, The</td>
<td>Goodbye Earl</td>
<td>4:19</td>
<td>Country</td>
<td>2000/3/18</td>
<td>134833</td>
</tr>
<tr>
<td>2000</td>
<td>Guy</td>
<td>Dancin&#39;</td>
<td>4:08</td>
<td>R&amp;B</td>
<td>1999/12/18</td>
<td>343239</td>
</tr>
<tr>
<td>2000</td>
<td>Lil Bow Wow</td>
<td>Bounce With Me</td>
<td>3:22</td>
<td>Rap</td>
<td>2000/8/19</td>
<td>355092</td>
</tr>
<tr>
<td>2000</td>
<td>Westlife</td>
<td>Swear It Again</td>
<td>4:07</td>
<td>Rock</td>
<td>2000/4/1</td>
<td>211573</td>
</tr>
<tr>
<td>2000</td>
<td>Train</td>
<td>Meet Virginia</td>
<td>3:55</td>
<td>Rock</td>
<td>1999/10/9</td>
<td>418111</td>
</tr>
<tr>
<td>2000</td>
<td>Thomas, Carl</td>
<td>I Wish</td>
<td>3:50</td>
<td>Rock</td>
<td>2000/3/25</td>
<td>410080</td>
</tr>
<tr>
<td>2000</td>
<td>Hanson</td>
<td>This Time Around</td>
<td>4:14</td>
<td>Country</td>
<td>2000/4/22</td>
<td>432040</td>
</tr>
<tr>
<td>2000</td>
<td>Simpson, Jessica</td>
<td>I Think I&#39;m In Love With You</td>
<td>3:32</td>
<td>Pop</td>
<td>2000/7/1</td>
<td>435955</td>
</tr>
<tr>
<td>2000</td>
<td>Ludacris</td>
<td>What&#39;s Your Fantasy</td>
<td>4:16</td>
<td>Rap</td>
<td>2000/9/30</td>
<td>174093</td>
</tr>
<tr>
<td>2000</td>
<td>Lil&#39; Zane</td>
<td>Callin&#39; Me</td>
<td>3:43</td>
<td>Rap</td>
<td>2000/7/29</td>
<td>364730</td>
</tr>
<tr>
<td>2000</td>
<td>M2M</td>
<td>Don&#39;t Say You Love Me</td>
<td>3:41</td>
<td>Pop</td>
<td>1999/11/20</td>
<td>303082</td>
</tr>
<tr>
<td>2000</td>
<td>SoulDecision</td>
<td>Faded</td>
<td>3:25</td>
<td>Rock</td>
<td>2000/7/8</td>
<td>371519</td>
</tr>
<tr>
<td>2000</td>
<td>Brock, Chad</td>
<td>Yes!</td>
<td>3:22</td>
<td>Country</td>
<td>2000/4/8</td>
<td>391359</td>
</tr>
<tr>
<td>2000</td>
<td>Martin, Ricky</td>
<td>Shake Your Bon-Bon</td>
<td>3:08</td>
<td>Latin</td>
<td>1999/11/20</td>
<td>203352</td>
</tr>
<tr>
<td>2000</td>
<td>Vertical Horizon</td>
<td>You&#39;re A God</td>
<td>3:45</td>
<td>Rock</td>
<td>2000/8/26</td>
<td>373429</td>
</tr>
<tr>
<td>2000</td>
<td>Avant</td>
<td>Separated</td>
<td>4:13</td>
<td>Rock</td>
<td>2000/4/29</td>
<td>416717</td>
</tr>
<tr>
<td>2000</td>
<td>Rimes, LeAnn</td>
<td>Big Deal</td>
<td>3:03</td>
<td>Country</td>
<td>1999/10/16</td>
<td>121635</td>
</tr>
<tr>
<td>2000</td>
<td>IMx</td>
<td>Stay The Night</td>
<td>3:37</td>
<td>Rap</td>
<td>1999/10/9</td>
<td>400401</td>
</tr>
<tr>
<td>2000</td>
<td>Dr. Dre</td>
<td>The Next Episode</td>
<td>2:38</td>
<td>Rap</td>
<td>2000/5/27</td>
<td>181536</td>
</tr>
<tr>
<td>2000</td>
<td>Spears, Britney</td>
<td>Lucky</td>
<td>3:23</td>
<td>Rock</td>
<td>2000/8/12</td>
<td>463458</td>
</tr>
<tr>
<td>2000</td>
<td>Savage Garden</td>
<td>Crash And Burn</td>
<td>4:41</td>
<td>Rock</td>
<td>2000/4/8</td>
<td>180784</td>
</tr>
<tr>
<td>2000</td>
<td>Kandi</td>
<td>Don&#39;t Think I&#39;m Not</td>
<td>3:50</td>
<td>Rock</td>
<td>2000/8/5</td>
<td>176399</td>
</tr>
<tr>
<td>2000</td>
<td>Sammie</td>
<td>I Like It</td>
<td>4:09</td>
<td>Rock</td>
<td>2000/1/29</td>
<td>381151</td>
</tr>
<tr>
<td>2000</td>
<td>Goo Goo Dolls</td>
<td>Broadway</td>
<td>3:54</td>
<td>Rock</td>
<td>2000/4/22</td>
<td>172453</td>
</tr>
<tr>
<td>2000</td>
<td>Moore, Mandy</td>
<td>I Wanna Be With You</td>
<td>4:12</td>
<td>Pop</td>
<td>2000/6/17</td>
<td>254231</td>
</tr>
<tr>
<td>2000</td>
<td>Dr. Dre</td>
<td>Forgot About Dre</td>
<td>3:42</td>
<td>Rap</td>
<td>2000/1/22</td>
<td>197553</td>
</tr>
<tr>
<td>2000</td>
<td>D&#39;Angelo</td>
<td>Untitled (How Does It Feel)</td>
<td>7:10</td>
<td>R&amp;B</td>
<td>2000/1/22</td>
<td>478675</td>
</tr>
<tr>
<td>2000</td>
<td>Messina, Jo Dee</td>
<td>That&#39;s The Way</td>
<td>3:17</td>
<td>Country</td>
<td>2000/6/24</td>
<td>343665</td>
</tr>
<tr>
<td>2000</td>
<td>Avant</td>
<td>My First Love</td>
<td>4:28</td>
<td>Rock</td>
<td>2000/11/4</td>
<td>216988</td>
</tr>
<tr>
<td>2000</td>
<td>Son By Four</td>
<td>A Puro Dolor (Purest Of Pain)</td>
<td>3:30</td>
<td>Latin</td>
<td>2000/4/8</td>
<td>295235</td>
</tr>
<tr>
<td>2000</td>
<td>Da Brat</td>
<td>What&#39;Chu Like</td>
<td>3:57</td>
<td>Rap</td>
<td>2000/6/3</td>
<td>455237</td>
</tr>
<tr>
<td>2000</td>
<td>DMX</td>
<td>Party Up (Up In Here)</td>
<td>3:45</td>
<td>Rap</td>
<td>2000/2/26</td>
<td>226907</td>
</tr>
<tr>
<td>2000</td>
<td>Dixie Chicks, The</td>
<td>Cowboy Take Me Away</td>
<td>4:51</td>
<td>Country</td>
<td>1999/11/27</td>
<td>245631</td>
</tr>
<tr>
<td>2000</td>
<td>McGraw, Tim</td>
<td>My Next Thirty Years</td>
<td>3:37</td>
<td>Country</td>
<td>2000/10/21</td>
<td>242705</td>
</tr>
<tr>
<td>2000</td>
<td>Tritt, Travis</td>
<td>Best Of Intentions</td>
<td>4:15</td>
<td>Country</td>
<td>2000/8/19</td>
<td>127953</td>
</tr>
<tr>
<td>2000</td>
<td>Alice Deejay</td>
<td>Better Off Alone</td>
<td>6:50</td>
<td>Electronica</td>
<td>2000/4/8</td>
<td>471457</td>
</tr>
<tr>
<td>2000</td>
<td>Hoku</td>
<td>Another Dumb Blonde</td>
<td>3:47</td>
<td>Pop</td>
<td>2000/2/19</td>
<td>454935</td>
</tr>
<tr>
<td>2000</td>
<td>Houston, Whitney</td>
<td>I Learned From The Best</td>
<td>4:18</td>
<td>Rock</td>
<td>2000/2/19</td>
<td>358046</td>
</tr>
<tr>
<td>2000</td>
<td>Counting Crows</td>
<td>Hanginaround</td>
<td>4:07</td>
<td>Rock</td>
<td>1999/11/6</td>
<td>152461</td>
</tr>
<tr>
<td>2000</td>
<td>Mary Mary</td>
<td>Shackles (Praise You)</td>
<td>3:12</td>
<td>Rock</td>
<td>2000/3/25</td>
<td>314238</td>
</tr>
<tr>
<td>2000</td>
<td>Carey, Mariah</td>
<td>Crybaby</td>
<td>5:19</td>
<td>Rock</td>
<td>2000/6/24</td>
<td>312158</td>
</tr>
<tr>
<td>2000</td>
<td>McGraw, Tim</td>
<td>My Best Friend</td>
<td>4:33</td>
<td>Country</td>
<td>1999/11/27</td>
<td>467678</td>
</tr>
<tr>
<td>2000</td>
<td>Sugar Ray</td>
<td>Falls Apart</td>
<td>4:15</td>
<td>Rock</td>
<td>2000/1/15</td>
<td>342556</td>
</tr>
<tr>
<td>2000</td>
<td>Madonna</td>
<td>American Pie</td>
<td>4:30</td>
<td>Rock</td>
<td>2000/2/19</td>
<td>485539</td>
</tr>
<tr>
<td>2000</td>
<td>Jones, Donell</td>
<td>Where I Wanna Be</td>
<td>6:22</td>
<td>Rock</td>
<td>2000/4/22</td>
<td>421470</td>
</tr>
<tr>
<td>2000</td>
<td>Paisley, Brad</td>
<td>We Danced</td>
<td>3:45</td>
<td>Country</td>
<td>2000/10/14</td>
<td>342536</td>
</tr>
<tr>
<td>2000</td>
<td>Lonestar</td>
<td>What About Now</td>
<td>3:30</td>
<td>Country</td>
<td>2000/6/10</td>
<td>386335</td>
</tr>
<tr>
<td>2000</td>
<td>Backstreet Boys, The</td>
<td>The One</td>
<td>3:46</td>
<td>Rock</td>
<td>2000/5/27</td>
<td>298955</td>
</tr>
<tr>
<td>2000</td>
<td>Keith, Toby</td>
<td>How Do You Like Me Now?!</td>
<td>3:29</td>
<td>Country</td>
<td>2000/1/29</td>
<td>215811</td>
</tr>
<tr>
<td>2000</td>
<td>Strait, George</td>
<td>The Best Day</td>
<td>3:24</td>
<td>Country</td>
<td>2000/1/29</td>
<td>220869</td>
</tr>
<tr>
<td>2000</td>
<td>Dixie Chicks, The</td>
<td>Without You</td>
<td>3:32</td>
<td>Country</td>
<td>2000/10/7</td>
<td>164712</td>
</tr>
<tr>
<td>2000</td>
<td>Musiq</td>
<td>Just Friends (Sunny)</td>
<td>4:02</td>
<td>Rap</td>
<td>2000/10/14</td>
<td>246942</td>
</tr>
<tr>
<td>2000</td>
<td>McEntire, Reba</td>
<td>What Do You Say</td>
<td>3:26</td>
<td>Country</td>
<td>1999/10/30</td>
<td>379322</td>
</tr>
<tr>
<td>2000</td>
<td>Braxton, Toni</td>
<td>Just Be A Man About It</td>
<td>4:10</td>
<td>Rock</td>
<td>2000/7/29</td>
<td>240517</td>
</tr>
<tr>
<td>2000</td>
<td>Iglesias, Enrique</td>
<td>Rhythm Divine</td>
<td>7:35</td>
<td>Latin</td>
<td>1999/12/4</td>
<td>448871</td>
</tr>
<tr>
<td>2000</td>
<td>Fabian, Lara</td>
<td>I Will Love Again</td>
<td>3:43</td>
<td>Pop</td>
<td>2000/6/10</td>
<td>101321</td>
</tr>
<tr>
<td>2000</td>
<td>Bon Jovi</td>
<td>It&#39;s My Life</td>
<td>3:44</td>
<td>Rock</td>
<td>2000/8/12</td>
<td>235456</td>
</tr>
<tr>
<td>2000</td>
<td>Evans, Sara</td>
<td>Born To Fly</td>
<td>5:36</td>
<td>Country</td>
<td>2000/10/21</td>
<td>462252</td>
</tr>
<tr>
<td>2000</td>
<td>Chesney, Kenny</td>
<td>I Lost It</td>
<td>3:54</td>
<td>Country</td>
<td>2000/10/21</td>
<td>329935</td>
</tr>
<tr>
<td>2000</td>
<td>J-Shin</td>
<td>One Night Stand</td>
<td>4:34</td>
<td>R&amp;B</td>
<td>1999/12/25</td>
<td>107889</td>
</tr>
<tr>
<td>2000</td>
<td>Eve</td>
<td>Love Is Blind</td>
<td>3:51</td>
<td>Rap</td>
<td>2000/1/8</td>
<td>324696</td>
</tr>
<tr>
<td>2000</td>
<td>Aaliyah</td>
<td>I Don&#39;t Wanna</td>
<td>4:15</td>
<td>Rock</td>
<td>2000/1/29</td>
<td>135506</td>
</tr>
<tr>
<td>2000</td>
<td>Montgomery, John Michael</td>
<td>The Little Girl</td>
<td>3:52</td>
<td>Country</td>
<td>2000/9/9</td>
<td>355279</td>
</tr>
<tr>
<td>2000</td>
<td>Carter, Aaron</td>
<td>Aaron&#39;s Party (Come Get It)</td>
<td>3:23</td>
<td>R&amp;B</td>
<td>2000/8/26</td>
<td>183724</td>
</tr>
<tr>
<td>2000</td>
<td>Vassar, Phil</td>
<td>Just Another Day In Paradise</td>
<td>3:54</td>
<td>Country</td>
<td>2000/9/30</td>
<td>390274</td>
</tr>
<tr>
<td>2000</td>
<td>Ice Cube</td>
<td>You Can Do It</td>
<td>4:20</td>
<td>Rap</td>
<td>1999/12/4</td>
<td>240340</td>
</tr>
<tr>
<td>2000</td>
<td>Wills, Mark</td>
<td>Back At One</td>
<td>4:00</td>
<td>Country</td>
<td>2000/1/15</td>
<td>166110</td>
</tr>
<tr>
<td>2000</td>
<td>Lucy Pearl</td>
<td>Dance Tonight</td>
<td>3:45</td>
<td>R&amp;B</td>
<td>2000/5/20</td>
<td>376430</td>
</tr>
<tr>
<td>2000</td>
<td>Jackson, Alan</td>
<td>It Must Be Love</td>
<td>2:53</td>
<td>Country</td>
<td>2000/6/24</td>
<td>466632</td>
</tr>
<tr>
<td>2000</td>
<td>Griggs, Andy</td>
<td>She&#39;s More</td>
<td>3:19</td>
<td>Country</td>
<td>2000/3/11</td>
<td>242261</td>
</tr>
<tr>
<td>2000</td>
<td>No Doubt</td>
<td>Simple Kind Of Life</td>
<td>4:11</td>
<td>Rock</td>
<td>2000/7/1</td>
<td>403918</td>
</tr>
<tr>
<td>2000</td>
<td>Jean, Wyclef</td>
<td>911</td>
<td>4:00</td>
<td>Rap</td>
<td>2000/10/7</td>
<td>194346</td>
</tr>
<tr>
<td>2000</td>
<td>Rascal Flatts</td>
<td>Prayin&#39; For Daylight</td>
<td>3:36</td>
<td>Country</td>
<td>2000/5/6</td>
<td>417782</td>
</tr>
<tr>
<td>2000</td>
<td>Vitamin C</td>
<td>Graduation (Friends Forever)</td>
<td>4:23</td>
<td>Rock</td>
<td>2000/4/15</td>
<td>237035</td>
</tr>
<tr>
<td>2000</td>
<td>Gilman, Billy</td>
<td>One Voice</td>
<td>4:07</td>
<td>Country</td>
<td>2000/6/17</td>
<td>478774</td>
</tr>
<tr>
<td>2000</td>
<td>Lonestar</td>
<td>Smile</td>
<td>3:33</td>
<td>Country</td>
<td>1999/12/18</td>
<td>224643</td>
</tr>
<tr>
<td>2000</td>
<td>Rogers, Kenny</td>
<td>Buy Me A Rose</td>
<td>3:46</td>
<td>Country</td>
<td>2000/3/11</td>
<td>354119</td>
</tr>
<tr>
<td>2000</td>
<td>Lawrence, Tracy</td>
<td>Lessons Learned</td>
<td>2:55</td>
<td>Country</td>
<td>2000/1/29</td>
<td>366727</td>
</tr>
<tr>
<td>2000</td>
<td>Strait, George</td>
<td>Go On</td>
<td>3:48</td>
<td>Country</td>
<td>2000/8/26</td>
<td>432099</td>
</tr>
<tr>
<td>2000</td>
<td>Sisqo</td>
<td>Got To Get It</td>
<td>3:52</td>
<td>Rock</td>
<td>1999/11/20</td>
<td>488607</td>
</tr>
<tr>
<td>2000</td>
<td>Baha Men</td>
<td>Who Let The Dogs Out</td>
<td>3:17</td>
<td>R&amp;B</td>
<td>2000/7/22</td>
<td>145299</td>
</tr>
<tr>
<td>2000</td>
<td>Walker, Clay</td>
<td>The Chain Of Love</td>
<td>5:03</td>
<td>Country</td>
<td>2000/4/15</td>
<td>215505</td>
</tr>
<tr>
<td>2000</td>
<td>McBride, Martina</td>
<td>Love&#39;s The Only House</td>
<td>5:13</td>
<td>Country</td>
<td>2000/2/5</td>
<td>231917</td>
</tr>
<tr>
<td>2000</td>
<td>Amber</td>
<td>Sexual (Li Da Di)</td>
<td>4:38</td>
<td>Rock</td>
<td>1999/7/17</td>
<td>234507</td>
</tr>
<tr>
<td>2000</td>
<td>Tippin, Aaron</td>
<td>Kiss This</td>
<td>2:53</td>
<td>Country</td>
<td>2000/8/26</td>
<td>261457</td>
</tr>
<tr>
<td>2000</td>
<td>SheDaisy</td>
<td>I Will.. But</td>
<td>3:40</td>
<td>Country</td>
<td>2000/7/15</td>
<td>412294</td>
</tr>
<tr>
<td>2000</td>
<td>Raye, Collin</td>
<td>Couldn&#39;t Last A Moment</td>
<td>3:40</td>
<td>Country</td>
<td>2000/3/18</td>
<td>143378</td>
</tr>
<tr>
<td>2000</td>
<td>Black Rob</td>
<td>Whoa!</td>
<td>4:04</td>
<td>Rap</td>
<td>2000/3/4</td>
<td>290463</td>
</tr>
<tr>
<td>2000</td>
<td>Jackson, Alan</td>
<td>Pop A Top</td>
<td>3:04</td>
<td>Country</td>
<td>1999/11/13</td>
<td>432777</td>
</tr>
<tr>
<td>2000</td>
<td>Black, Clint</td>
<td>Been There</td>
<td>5:28</td>
<td>Country</td>
<td>2000/2/19</td>
<td>433247</td>
</tr>
<tr>
<td>2000</td>
<td>Common</td>
<td>The Light</td>
<td>3:55</td>
<td>Rap</td>
<td>2000/8/5</td>
<td>315213</td>
</tr>
<tr>
<td>2000</td>
<td>Vassar, Phil</td>
<td>Carlene</td>
<td>4:07</td>
<td>Country</td>
<td>2000/3/4</td>
<td>269814</td>
</tr>
<tr>
<td>2000</td>
<td>Jackson, Alan</td>
<td>www.memory</td>
<td>2:36</td>
<td>Country</td>
<td>2000/11/4</td>
<td>361276</td>
</tr>
<tr>
<td>2000</td>
<td>Vitamin C</td>
<td>The Itch</td>
<td>3:30</td>
<td>Rock</td>
<td>2000/12/2</td>
<td>181743</td>
</tr>
<tr>
<td>2000</td>
<td>Eastsidaz, The</td>
<td>G&#39;D Up</td>
<td>4:27</td>
<td>Rap</td>
<td>2000/1/8</td>
<td>238413</td>
</tr>
<tr>
<td>2000</td>
<td>Ideal</td>
<td>Whatever</td>
<td>3:48</td>
<td>R&amp;B</td>
<td>2000/6/10</td>
<td>124836</td>
</tr>
<tr>
<td>2000</td>
<td>Thomas, Carl</td>
<td>Emotional</td>
<td>4:31</td>
<td>Rock</td>
<td>2000/11/25</td>
<td>261552</td>
</tr>
<tr>
<td>2000</td>
<td>Ginuwine</td>
<td>None Of Ur Friends Business</td>
<td>4:12</td>
<td>Rock</td>
<td>1999/12/11</td>
<td>328279</td>
</tr>
<tr>
<td>2000</td>
<td>Davidson, Clay</td>
<td>Unconditional</td>
<td>3:56</td>
<td>Country</td>
<td>2000/3/25</td>
<td>332224</td>
</tr>
<tr>
<td>2000</td>
<td>DMX</td>
<td>What You Want</td>
<td>4:05</td>
<td>Rap</td>
<td>2000/7/1</td>
<td>192770</td>
</tr>
<tr>
<td>2000</td>
<td>John, Elton</td>
<td>Someday Out Of The Blue</td>
<td>4:41</td>
<td>Rock</td>
<td>2000/4/22</td>
<td>237809</td>
</tr>
<tr>
<td>2000</td>
<td>Pearl Jam</td>
<td>Nothing As It Seems</td>
<td>5:20</td>
<td>Rock</td>
<td>2000/5/13</td>
<td>373391</td>
</tr>
<tr>
<td>2000</td>
<td>Mya</td>
<td>The Best Of Me</td>
<td>4:12</td>
<td>Rock</td>
<td>2000/4/15</td>
<td>387731</td>
</tr>
<tr>
<td>2000</td>
<td>Heatherly, Eric</td>
<td>Flowers On The Wall</td>
<td>3:16</td>
<td>Country</td>
<td>2000/4/29</td>
<td>436950</td>
</tr>
<tr>
<td>2000</td>
<td>Eminem</td>
<td>Stan</td>
<td>5:26</td>
<td>Rap</td>
<td>2000/11/4</td>
<td>385659</td>
</tr>
<tr>
<td>2000</td>
<td>McEntire, Reba</td>
<td>I&#39;ll Be</td>
<td>4:23</td>
<td>Country</td>
<td>2000/5/13</td>
<td>284452</td>
</tr>
<tr>
<td>2000</td>
<td>Lopez, Jennifer</td>
<td>Feelin&#39; Good</td>
<td>4:28</td>
<td>Latin</td>
<td>2000/2/19</td>
<td>275219</td>
</tr>
<tr>
<td>2000</td>
<td>Urban, Keith</td>
<td>Your Everything</td>
<td>4:10</td>
<td>Country</td>
<td>2000/7/15</td>
<td>363620</td>
</tr>
<tr>
<td>2000</td>
<td>TLC</td>
<td>Dear Lie</td>
<td>4:36</td>
<td>Rock</td>
<td>2000/2/12</td>
<td>255374</td>
</tr>
<tr>
<td>2000</td>
<td>Gill, Vince</td>
<td>Feels Like Love</td>
<td>4:13</td>
<td>Country</td>
<td>2000/9/2</td>
<td>180803</td>
</tr>
<tr>
<td>2000</td>
<td>Houston, Whitney</td>
<td>Could I Have This Kiss Forever</td>
<td>3:54</td>
<td>Rock</td>
<td>2000/6/17</td>
<td>118295</td>
</tr>
<tr>
<td>2000</td>
<td>Bloodhound Gang</td>
<td>The Bad Touch</td>
<td>4:20</td>
<td>R&amp;B</td>
<td>2000/3/18</td>
<td>176634</td>
</tr>
<tr>
<td>2000</td>
<td>Williams, Robbie</td>
<td>Angels</td>
<td>3:56</td>
<td>Rock</td>
<td>1999/11/20</td>
<td>192169</td>
</tr>
<tr>
<td>2000</td>
<td>Messina, Jo Dee</td>
<td>Because You Love Me</td>
<td>3:50</td>
<td>Country</td>
<td>2000/1/29</td>
<td>128680</td>
</tr>
<tr>
<td>2000</td>
<td>Keith, Toby</td>
<td>Country Comes To Town</td>
<td>3:39</td>
<td>Country</td>
<td>2000/8/5</td>
<td>263983</td>
</tr>
<tr>
<td>2000</td>
<td>Beenie Man</td>
<td>Girls Dem Sugar</td>
<td>4:17</td>
<td>Reggae</td>
<td>2000/10/21</td>
<td>146084</td>
</tr>
<tr>
<td>2000</td>
<td>Hill, Faith</td>
<td>Let&#39;s Make Love</td>
<td>4:11</td>
<td>Rap</td>
<td>2000/8/12</td>
<td>324870</td>
</tr>
<tr>
<td>2000</td>
<td>Kelis</td>
<td>Caught Out There</td>
<td>4:09</td>
<td>R&amp;B</td>
<td>1999/12/4</td>
<td>383067</td>
</tr>
<tr>
<td>2000</td>
<td>Jay-Z</td>
<td>Anything</td>
<td>3:41</td>
<td>Rap</td>
<td>2000/2/26</td>
<td>359298</td>
</tr>
<tr>
<td>2000</td>
<td>3 Doors Down</td>
<td>Loser</td>
<td>4:24</td>
<td>Rock</td>
<td>2000/10/21</td>
<td>120144</td>
</tr>
<tr>
<td>2000</td>
<td>Brooks &amp; Dunn</td>
<td>You&#39;ll Always Be Loved By Me</td>
<td>2:58</td>
<td>Country</td>
<td>2000/6/10</td>
<td>381671</td>
</tr>
<tr>
<td>2000</td>
<td>Chesney, Kenny</td>
<td>What I Need To Do</td>
<td>4:05</td>
<td>Country</td>
<td>2000/4/1</td>
<td>131119</td>
</tr>
<tr>
<td>2000</td>
<td>Stone, Angie</td>
<td>No More Rain (In This Cloud)</td>
<td>4:42</td>
<td>R&amp;B</td>
<td>1999/12/25</td>
<td>177255</td>
</tr>
<tr>
<td>2000</td>
<td>Da Brat</td>
<td>That&#39;s What I&#39;m Looking For</td>
<td>3:44</td>
<td>Rap</td>
<td>2000/2/26</td>
<td>121013</td>
</tr>
<tr>
<td>2000</td>
<td>SheDaisy</td>
<td>This Woman Needs</td>
<td>3:20</td>
<td>Country</td>
<td>2000/2/5</td>
<td>262168</td>
</tr>
<tr>
<td>2000</td>
<td>Papa Roach</td>
<td>Last Resort</td>
<td>3:19</td>
<td>Rock</td>
<td>2000/7/29</td>
<td>349079</td>
</tr>
<tr>
<td>2000</td>
<td>Adams, Yolanda</td>
<td>Open My Heart</td>
<td>5:30</td>
<td>Gospel</td>
<td>2000/8/26</td>
<td>460461</td>
</tr>
<tr>
<td>2000</td>
<td>Shyne</td>
<td>Bad Boyz</td>
<td>4:22</td>
<td>Rap</td>
<td>2000/9/9</td>
<td>364899</td>
</tr>
<tr>
<td>2000</td>
<td>R.E.M.</td>
<td>The Great Beyond</td>
<td>4:10</td>
<td>Rock</td>
<td>1999/12/25</td>
<td>243757</td>
</tr>
<tr>
<td>2000</td>
<td>Diffie, Joe</td>
<td>It&#39;s Always Somethin&#39;</td>
<td>2:55</td>
<td>Country</td>
<td>2000/8/12</td>
<td>335925</td>
</tr>
<tr>
<td>2000</td>
<td>McGraw, Tim</td>
<td>Some Things Never Change</td>
<td>3:56</td>
<td>Country</td>
<td>2000/5/13</td>
<td>146974</td>
</tr>
<tr>
<td>2000</td>
<td>Henley, Don</td>
<td>Taking You Home</td>
<td>4:08</td>
<td>Rock</td>
<td>2000/6/24</td>
<td>301486</td>
</tr>
<tr>
<td>2000</td>
<td>Eminem</td>
<td>The Way I Am</td>
<td>4:40</td>
<td>Rap</td>
<td>2000/8/26</td>
<td>364244</td>
</tr>
<tr>
<td>2000</td>
<td>Nas</td>
<td>You Owe Me</td>
<td>3:51</td>
<td>R&amp;B</td>
<td>2000/3/25</td>
<td>201193</td>
</tr>
<tr>
<td>2000</td>
<td>Sister Hazel</td>
<td>Change Your Mind</td>
<td>4:02</td>
<td>Rock</td>
<td>2000/7/15</td>
<td>298577</td>
</tr>
<tr>
<td>2000</td>
<td>Puff Daddy</td>
<td>Best Friend</td>
<td>5:33</td>
<td>Rap</td>
<td>2000/2/12</td>
<td>205755</td>
</tr>
<tr>
<td>2000</td>
<td>McBride, Martina</td>
<td>There You Are</td>
<td>3:26</td>
<td>Country</td>
<td>2000/9/9</td>
<td>282701</td>
</tr>
<tr>
<td>2000</td>
<td>Usher</td>
<td>Pop Ya Collar</td>
<td>3:36</td>
<td>Rock</td>
<td>2000/11/4</td>
<td>330098</td>
</tr>
<tr>
<td>2000</td>
<td>Lil&#39; Kim</td>
<td>No Matter What They Say</td>
<td>4:12</td>
<td>Rap</td>
<td>2000/7/15</td>
<td>313060</td>
</tr>
<tr>
<td>2000</td>
<td>LFO</td>
<td>I Don&#39;t Wanna Kiss You Goodnight</td>
<td>5:00</td>
<td>Rock</td>
<td>2000/4/15</td>
<td>234252</td>
</tr>
<tr>
<td>2000</td>
<td>SheDaisy</td>
<td>Deck The Halls</td>
<td>3:46</td>
<td>Country</td>
<td>1999/12/25</td>
<td>340410</td>
</tr>
<tr>
<td>2000</td>
<td>Splender</td>
<td>I Think God Can Explain</td>
<td>3:55</td>
<td>R&amp;B</td>
<td>2000/6/10</td>
<td>187973</td>
</tr>
<tr>
<td>2000</td>
<td>Simpson, Jessica</td>
<td>Where You Are</td>
<td>3:51</td>
<td>Rock</td>
<td>2000/4/1</td>
<td>362680</td>
</tr>
<tr>
<td>2000</td>
<td>M2M</td>
<td>Mirror Mirror</td>
<td>3:19</td>
<td>Pop</td>
<td>2000/4/1</td>
<td>159476</td>
</tr>
<tr>
<td>2000</td>
<td>Kumbia Kings</td>
<td>U Don&#39;t Love Me</td>
<td>3:50</td>
<td>R&amp;B</td>
<td>2000/3/4</td>
<td>156008</td>
</tr>
<tr>
<td>2000</td>
<td>Joe</td>
<td>Treat Her Like A Lady</td>
<td>4:12</td>
<td>Rock</td>
<td>2000/8/5</td>
<td>400069</td>
</tr>
<tr>
<td>2000</td>
<td>Blige, Mary J.</td>
<td>Deep Inside</td>
<td>5:26</td>
<td>Rock</td>
<td>1999/11/13</td>
<td>339642</td>
</tr>
<tr>
<td>2000</td>
<td>Price, Kelly</td>
<td>You Should&#39;ve Told Me</td>
<td>3:12</td>
<td>Rock</td>
<td>2000/9/23</td>
<td>437331</td>
</tr>
<tr>
<td>2000</td>
<td>Changing Faces</td>
<td>That Other Woman</td>
<td>4:00</td>
<td>Rock</td>
<td>2000/9/30</td>
<td>191804</td>
</tr>
<tr>
<td>2000</td>
<td>Wright, Chely</td>
<td>It Was</td>
<td>3:51</td>
<td>R&amp;B</td>
<td>2000/3/4</td>
<td>281750</td>
</tr>
<tr>
<td>2000</td>
<td>Limp Bizkit</td>
<td>Rollin&#39;</td>
<td>4:04</td>
<td>Rock</td>
<td>2000/11/11</td>
<td>408046</td>
</tr>
<tr>
<td>2000</td>
<td>Hot Boys</td>
<td>I Need A Hot Girl</td>
<td>4:16</td>
<td>Rap</td>
<td>2000/2/19</td>
<td>272690</td>
</tr>
<tr>
<td>2000</td>
<td>Jay-Z</td>
<td>Do It Again (Put Ya Hands Up)</td>
<td>3:47</td>
<td>Rap</td>
<td>2000/1/15</td>
<td>401045</td>
</tr>
<tr>
<td>2000</td>
<td>Adkins, Trace</td>
<td>More</td>
<td>3:05</td>
<td>Country</td>
<td>2000/4/29</td>
<td>381347</td>
</tr>
<tr>
<td>2000</td>
<td>Dixie Chicks, The</td>
<td>Cold Day In July</td>
<td>5:12</td>
<td>Country</td>
<td>2000/6/24</td>
<td>317610</td>
</tr>
<tr>
<td>2000</td>
<td>Price, Kelly</td>
<td>As We Lay</td>
<td>6:20</td>
<td>Rock</td>
<td>2000/7/15</td>
<td>213554</td>
</tr>
<tr>
<td>2000</td>
<td>DMX</td>
<td>What&#39;s My Name</td>
<td>3:50</td>
<td>Rap</td>
<td>2000/1/15</td>
<td>294176</td>
</tr>
<tr>
<td>2000</td>
<td>Martin, Ricky</td>
<td>Private Emotion</td>
<td>4:02</td>
<td>Latin</td>
<td>2000/3/11</td>
<td>411015</td>
</tr>
<tr>
<td>2000</td>
<td>Nine Days</td>
<td>If I Am</td>
<td>4:18</td>
<td>Rock</td>
<td>2000/12/2</td>
<td>334010</td>
</tr>
<tr>
<td>2000</td>
<td>Blige, Mary J.</td>
<td>Give Me You</td>
<td>5:00</td>
<td>Rock</td>
<td>2000/4/15</td>
<td>223933</td>
</tr>
<tr>
<td>2000</td>
<td>Red Hot Chili Peppers</td>
<td>Californication</td>
<td>5:21</td>
<td>Rock</td>
<td>2000/7/29</td>
<td>496115</td>
</tr>
<tr>
<td>2000</td>
<td>Third Eye Blind</td>
<td>Deep Inside Of You</td>
<td>4:10</td>
<td>Rock</td>
<td>2000/9/2</td>
<td>163267</td>
</tr>
<tr>
<td>2000</td>
<td>Brooks, Garth</td>
<td>Do What You Gotta Do</td>
<td>2:56</td>
<td>Country</td>
<td>2000/2/19</td>
<td>455062</td>
</tr>
<tr>
<td>2000</td>
<td>Offspring, The</td>
<td>Original Prankster</td>
<td>3:42</td>
<td>Rock</td>
<td>2000/11/25</td>
<td>201277</td>
</tr>
<tr>
<td>2000</td>
<td>Anthony, Marc</td>
<td>My Baby You</td>
<td>3:59</td>
<td>Latin</td>
<td>2000/9/16</td>
<td>276486</td>
</tr>
<tr>
<td>2000</td>
<td>Houston, Whitney</td>
<td>Same Script, Different Cast</td>
<td>4:45</td>
<td>Rock</td>
<td>2000/6/17</td>
<td>133539</td>
</tr>
<tr>
<td>2000</td>
<td>D&#39;Angelo</td>
<td>Left &amp; Right</td>
<td>4:35</td>
<td>R&amp;B</td>
<td>1999/12/11</td>
<td>310268</td>
</tr>
<tr>
<td>2000</td>
<td>Kravitz, Lenny</td>
<td>I Belong To You</td>
<td>4:17</td>
<td>Rock</td>
<td>2000/3/25</td>
<td>201280</td>
</tr>
<tr>
<td>2000</td>
<td>Loveless, Patty</td>
<td>That&#39;s The Kind Of Mood I&#39;m In</td>
<td>3:27</td>
<td>Country</td>
<td>2000/9/16</td>
<td>463809</td>
</tr>
<tr>
<td>2000</td>
<td>Q-Tip</td>
<td>Breathe And Stop</td>
<td>4:06</td>
<td>Rock</td>
<td>2000/1/22</td>
<td>457881</td>
</tr>
<tr>
<td>2000</td>
<td>Rimes, LeAnn</td>
<td>Can&#39;t Fight The Moonlight</td>
<td>3:33</td>
<td>Country</td>
<td>2000/9/9</td>
<td>457461</td>
</tr>
<tr>
<td>2000</td>
<td>Lil Wayne</td>
<td>Tha Block Is Hot</td>
<td>4:13</td>
<td>Rap</td>
<td>1999/12/4</td>
<td>339892</td>
</tr>
<tr>
<td>2000</td>
<td>2 Pac</td>
<td>Baby Don&#39;t Cry (Keep Ya Head Up II)</td>
<td>4:22</td>
<td>Rap</td>
<td>2000/2/26</td>
<td>445632</td>
</tr>
<tr>
<td>2000</td>
<td>Wallflowers, The</td>
<td>Sleepwalker</td>
<td>3:29</td>
<td>Rock</td>
<td>2000/10/28</td>
<td>277777</td>
</tr>
<tr>
<td>2000</td>
<td>Drama</td>
<td>Left, Right, Left</td>
<td>3:37</td>
<td>Rap</td>
<td>2000/2/12</td>
<td>242868</td>
</tr>
<tr>
<td>2000</td>
<td>Limp Bizkit</td>
<td>N 2 Gether Now</td>
<td>3:55</td>
<td>Rock</td>
<td>1999/12/4</td>
<td>372889</td>
</tr>
<tr>
<td>2000</td>
<td>Lox</td>
<td>Ryde or Die, Chick</td>
<td>3:56</td>
<td>Rap</td>
<td>2000/3/18</td>
<td>426720</td>
</tr>
<tr>
<td>2000</td>
<td>Ying Yang Twins</td>
<td>Whistle While You Twurk</td>
<td>4:19</td>
<td>Rap</td>
<td>2000/3/18</td>
<td>373808</td>
</tr>
<tr>
<td>2000</td>
<td>Walker, Clay</td>
<td>Live, Laugh, Love</td>
<td>4:06</td>
<td>Country</td>
<td>1999/12/4</td>
<td>428966</td>
</tr>
<tr>
<td>2000</td>
<td>Metallica</td>
<td>No Leaf Clover (Live)</td>
<td>5:43</td>
<td>Rock</td>
<td>2000/2/12</td>
<td>446441</td>
</tr>
<tr>
<td>2000</td>
<td>Yankee Grey</td>
<td>Another Nine Minutes</td>
<td>3:10</td>
<td>Country</td>
<td>2000/4/29</td>
<td>416021</td>
</tr>
<tr>
<td>2000</td>
<td>Bega, Lou</td>
<td>Tricky Tricky </td>
<td>3:23</td>
<td>Rock</td>
<td>2000/1/29</td>
<td>224293</td>
</tr>
<tr>
<td>2000</td>
<td>Big Punisher</td>
<td>It&#39;s So Hard</td>
<td>3:25</td>
<td>Rap</td>
<td>2000/4/22</td>
<td>251486</td>
</tr>
<tr>
<td>2000</td>
<td>Worley, Darryl</td>
<td>When You Need My Love</td>
<td>3:35</td>
<td>Country</td>
<td>2000/6/17</td>
<td>472030</td>
</tr>
<tr>
<td>2000</td>
<td>Lil&#39; Kim</td>
<td>How Many Licks?</td>
<td>3:50</td>
<td>Rap</td>
<td>2000/11/25</td>
<td>469604</td>
</tr>
<tr>
<td>2000</td>
<td>Clark, Terri</td>
<td>A Little Gasoline</td>
<td>3:07</td>
<td>Country</td>
<td>2000/12/16</td>
<td>463150</td>
</tr>
<tr>
<td>2000</td>
<td>Brock, Chad</td>
<td>A Country Boy Can Survive</td>
<td>3:54</td>
<td>Country</td>
<td>2000/1/1</td>
<td>332635</td>
</tr>
<tr>
<td>2000</td>
<td>Cagle, Chris</td>
<td>My Love Goes On And On</td>
<td>3:02</td>
<td>Country</td>
<td>2000/10/21</td>
<td>235418</td>
</tr>
<tr>
<td>2000</td>
<td>Byrd, Tracy</td>
<td>Put Your Hand In Mine</td>
<td>4:30</td>
<td>Country</td>
<td>2000/1/29</td>
<td>219299</td>
</tr>
<tr>
<td>2000</td>
<td>Metallica</td>
<td>I Disappear</td>
<td>4:26</td>
<td>Rock</td>
<td>2000/5/13</td>
<td>216657</td>
</tr>
<tr>
<td>2000</td>
<td>Jay-Z</td>
<td>Hey Papi</td>
<td>3:40</td>
<td>Rap</td>
<td>2000/8/12</td>
<td>332078</td>
</tr>
<tr>
<td>2000</td>
<td>Fatboy Slim</td>
<td>The Rockafeller Skank</td>
<td>4:00</td>
<td>Electronica</td>
<td>1999/11/13</td>
<td>133050</td>
</tr>
<tr>
<td>2000</td>
<td>Levert, Gerald</td>
<td>Mr. Too Damn Good</td>
<td>4:06</td>
<td>R&amp;B</td>
<td>2000/3/18</td>
<td>167749</td>
</tr>
<tr>
<td>2000</td>
<td>McKnight, Brian</td>
<td>Stay Or Let It Go</td>
<td>4:32</td>
<td>Rock</td>
<td>2000/2/26</td>
<td>319488</td>
</tr>
<tr>
<td>2000</td>
<td>Allan, Gary</td>
<td>Smoke Rings In The Dark</td>
<td>4:18</td>
<td>Country</td>
<td>2000/1/22</td>
<td>142397</td>
</tr>
<tr>
<td>2000</td>
<td>Ginuwine</td>
<td>The Best Man I Can Be</td>
<td>4:06</td>
<td>Rock</td>
<td>2000/1/8</td>
<td>318035</td>
</tr>
<tr>
<td>2000</td>
<td>Before Dark</td>
<td>Monica</td>
<td>4:04</td>
<td>Rock</td>
<td>2000/5/20</td>
<td>108820</td>
</tr>
<tr>
<td>2000</td>
<td>Estefan, Gloria</td>
<td>No Me Dejes De Querer</td>
<td>3:25</td>
<td>Rock</td>
<td>2000/6/10</td>
<td>482096</td>
</tr>
<tr>
<td>2000</td>
<td>Stone Temple Pilots</td>
<td>Sour Girl</td>
<td>4:16</td>
<td>Rock</td>
<td>2000/7/8</td>
<td>288478</td>
</tr>
<tr>
<td>2000</td>
<td>Montgomery Gentry</td>
<td>Daddy Won&#39;t Sell The Farm</td>
<td>4:18</td>
<td>Country</td>
<td>2000/3/4</td>
<td>358595</td>
</tr>
<tr>
<td>2000</td>
<td>Cyrus, Billy Ray</td>
<td>You Won&#39;t Be Lonely Now</td>
<td>3:45</td>
<td>Country</td>
<td>2000/9/23</td>
<td>108234</td>
</tr>
<tr>
<td>2000</td>
<td>Clark Family Experience</td>
<td>Meanwhile Back At The Ranch</td>
<td>2:56</td>
<td>Country</td>
<td>2000/11/18</td>
<td>141593</td>
</tr>
<tr>
<td>2000</td>
<td>Thomas, Carl</td>
<td>Summer Rain</td>
<td>4:57</td>
<td>Rock</td>
<td>2000/9/23</td>
<td>296048</td>
</tr>
<tr>
<td>2000</td>
<td>Yearwood, Trisha</td>
<td>Real Live Woman</td>
<td>3:55</td>
<td>Country</td>
<td>2000/4/1</td>
<td>158525</td>
</tr>
<tr>
<td>2000</td>
<td>Trick Daddy</td>
<td>Shut Up</td>
<td>4:17</td>
<td>Rap</td>
<td>2000/5/20</td>
<td>405449</td>
</tr>
<tr>
<td>2000</td>
<td>Moore, Chante</td>
<td>Straight Up</td>
<td>3:40</td>
<td>Rock</td>
<td>2000/10/28</td>
<td>254761</td>
</tr>
<tr>
<td>2000</td>
<td>Cam&#39;ron</td>
<td>What Means The World To You</td>
<td>4:38</td>
<td>Rap</td>
<td>2000/10/14</td>
<td>406102</td>
</tr>
<tr>
<td>2000</td>
<td>Juvenile</td>
<td>U Understand</td>
<td>3:51</td>
<td>Rap</td>
<td>2000/2/5</td>
<td>253098</td>
</tr>
<tr>
<td>2000</td>
<td>Hollister, Dave</td>
<td>Can&#39;t Stay</td>
<td>6:17</td>
<td>Rock</td>
<td>2000/3/25</td>
<td>427718</td>
</tr>
<tr>
<td>2000</td>
<td>Tamia</td>
<td>Can&#39;t Go For That</td>
<td>3:38</td>
<td>Rock</td>
<td>2000/9/16</td>
<td>158288</td>
</tr>
<tr>
<td>2000</td>
<td>LFO</td>
<td>West Side Story</td>
<td>3:27</td>
<td>Rock</td>
<td>2000/8/5</td>
<td>444593</td>
</tr>
<tr>
<td>2000</td>
<td>Paisley, Brad</td>
<td>Me Neither</td>
<td>3:19</td>
<td>Country</td>
<td>2000/5/13</td>
<td>318962</td>
</tr>
<tr>
<td>2000</td>
<td>Carter, Torrey</td>
<td>Take That</td>
<td>3:43</td>
<td>Rock</td>
<td>2000/6/24</td>
<td>452823</td>
</tr>
<tr>
<td>2000</td>
<td>2Ge+her</td>
<td>The Hardest Part Of Breaking Up (Is Getting Back Your Stuff)</td>
<td>3:15</td>
<td>R&amp;B</td>
<td>2000/9/2</td>
<td>411265</td>
</tr>
<tr>
<td>2000</td>
<td>Madison Avenue</td>
<td>Don&#39;t Call Me Baby</td>
<td>3:44</td>
<td>Electronica</td>
<td>2000/7/8</td>
<td>433152</td>
</tr>
<tr>
<td>2000</td>
<td>Eve</td>
<td>Got It All</td>
<td>3:48</td>
<td>Rap</td>
<td>2000/7/15</td>
<td>252216</td>
</tr>
<tr>
<td>2000</td>
<td>Limp Bizkit</td>
<td>Re-Arranged</td>
<td>4:08</td>
<td>Rock</td>
<td>1999/12/4</td>
<td>137581</td>
</tr>
<tr>
<td>2000</td>
<td>Spencer, Tracie</td>
<td>Still In My Heart</td>
<td>4:11</td>
<td>Rock</td>
<td>2000/3/4</td>
<td>299315</td>
</tr>
<tr>
<td>2000</td>
<td>Nu Flavor</td>
<td>3 Little Words</td>
<td>3:54</td>
<td>R&amp;B</td>
<td>2000/6/3</td>
<td>216643</td>
</tr>
<tr>
<td>2000</td>
<td>Tamar</td>
<td>If You Don&#39;t Wanna Love Me</td>
<td>4:02</td>
<td>Rock</td>
<td>2000/3/25</td>
<td>374574</td>
</tr>
<tr>
<td>2000</td>
<td>Levert, Gerald</td>
<td>Baby U Are</td>
<td>4:10</td>
<td>R&amp;B</td>
<td>2000/8/19</td>
<td>171598</td>
</tr>
<tr>
<td>2000</td>
<td>Hart, Beth</td>
<td>L.A. Song</td>
<td>3:47</td>
<td>Country</td>
<td>1999/11/27</td>
<td>202320</td>
</tr>
<tr>
<td>2000</td>
<td>Diffie, Joe</td>
<td>The Quittin&#39; Kind</td>
<td>3:23</td>
<td>Country</td>
<td>2000/1/1</td>
<td>376909</td>
</tr>
<tr>
<td>2000</td>
<td>Funkmaster Flex</td>
<td>Do You</td>
<td>4:14</td>
<td>Rap</td>
<td>2000/11/11</td>
<td>393650</td>
</tr>
<tr>
<td>2000</td>
<td>Price, Kelly</td>
<td>Love Sets You Free</td>
<td>3:46</td>
<td>Rock</td>
<td>2000/5/13</td>
<td>193858</td>
</tr>
<tr>
<td>2000</td>
<td>En Vogue</td>
<td>Riddle</td>
<td>5:10</td>
<td>Rock</td>
<td>2000/6/17</td>
<td>198518</td>
</tr>
<tr>
<td>2000</td>
<td>Herndon, Ty</td>
<td>No Mercy</td>
<td>4:43</td>
<td>Country</td>
<td>2000/3/18</td>
<td>396047</td>
</tr>
<tr>
<td>2000</td>
<td>Anastacia</td>
<td>I&#39;m Outta Love</td>
<td>4:01</td>
<td>Pop</td>
<td>2000/4/1</td>
<td>466468</td>
</tr>
<tr>
<td>2000</td>
<td>Trina</td>
<td>Pull Over</td>
<td>2:58</td>
<td>Rap</td>
<td>2000/9/9</td>
<td>425684</td>
</tr>
<tr>
<td>2000</td>
<td>Lil&#39; Mo</td>
<td>Ta Da</td>
<td>4:17</td>
<td>Rap</td>
<td>2000/8/12</td>
<td>111723</td>
</tr>
<tr>
<td>2000</td>
<td>A*Teens</td>
<td>Dancing Queen</td>
<td>3:44</td>
<td>Pop</td>
<td>2000/7/8</td>
<td>145375</td>
</tr>
<tr>
<td>2000</td>
<td>Sheist, Shade</td>
<td>Where I Wanna Be</td>
<td>4:16</td>
<td>Rap</td>
<td>2000/11/11</td>
<td>191383</td>
</tr>
<tr>
<td>2000</td>
<td>De La Soul</td>
<td>All Good?</td>
<td>5:02</td>
<td>Rap</td>
<td>2000/12/23</td>
<td>489283</td>
</tr>
<tr>
<td>2000</td>
<td>Larrieux, Amel</td>
<td>Get Up</td>
<td>4:02</td>
<td>R&amp;B</td>
<td>2000/3/4</td>
<td>385870</td>
</tr>
<tr>
<td>2000</td>
<td>Braxton, Toni</td>
<td>Spanish Guitar</td>
<td>4:24</td>
<td>Rock</td>
<td>2000/12/2</td>
<td>437934</td>
</tr>
<tr>
<td>2000</td>
<td>Tuesday</td>
<td>I Know</td>
<td>4:06</td>
<td>Rock</td>
<td>2000/12/30</td>
<td>375739</td>
</tr>
<tr>
<td>2000</td>
<td>LL Cool J</td>
<td>Imagine That</td>
<td>4:00</td>
<td>Rap</td>
<td>2000/8/12</td>
<td>248846</td>
</tr>
<tr>
<td>2000</td>
<td>Master P</td>
<td>Souljas</td>
<td>3:33</td>
<td>Rap</td>
<td>2000/11/18</td>
<td>158074</td>
</tr>
<tr>
<td>2000</td>
<td>Ghostface Killah</td>
<td>Cherchez LaGhost</td>
<td>3:04</td>
<td>R&amp;B</td>
<td>2000/8/5</td>
<td>296340</td>
</tr>
<tr>
<td>2000</td>
<td>Smith, Will</td>
<td>Freakin&#39; It</td>
<td>3:58</td>
<td>Rap</td>
<td>2000/2/12</td>
<td>224553</td>
</tr>
<tr>
<td>2000</td>
<td>Zombie Nation</td>
<td>Kernkraft 400</td>
<td>3:30</td>
<td>Rock</td>
<td>2000/9/2</td>
<td>323507</td>
</tr>
<tr>
<td>2000</td>
<td>Eastsidaz, The</td>
<td>Got Beef</td>
<td>3:58</td>
<td>Rap</td>
<td>2000/7/1</td>
<td>397334</td>
</tr>
<tr>
<td>2000</td>
<td>Fragma</td>
<td>Toca&#39;s Miracle</td>
<td>3:22</td>
<td>R&amp;B</td>
<td>2000/10/28</td>
<td>447651</td>
</tr>
</tbody></table>